body{
    background-image: url("background.jpg");
    background-color: #cccccc;
}


img{
    width: 400px;
}

#thirdDiv{
    border: solid 5px black;
    height: 600px;
    width: 500px;
    background-color: hsl(197, 83%, 81%);
    padding: 30px;
    margin:50px;
    
}
#spanId{
    color:white;
    font-size: 18px;
    margin: 50px;
}

#divClass{
   display:flex;
   justify-content: center;
   align-items: center;
}
