body{
    background-image: url("background.jpg");
    background-color: #cccccc;
}

h1, h3, h4{
    color:whitesmoke;

}

img{
    width: 400px;
}

#thirdDiv{
    border: 50px black;
    height: 600px;
    width: 500px;
    background-color: greenyellow;
    padding: 30px;
    margin:50px;
    
}
#spanId{
    font-size: 18px;
    margin: 50px;
}

.divClass{
   display:flex;
   justify-content: center;
   align-items: center;
}
